{{ template "./tpl/base.html" }}
{{ define "title" }} create days period {{ end }}

{{ block "content" . }}

<h1 class="lead my-4">create days period</h1>
	
<form class="card" method="POST">

    <div class="card-body row">
	    <div class="col-sm">
	        <sup class="float-start">start</sup>
	        <input
	        	required
	            class="form-control my-2"
	            type="date"
	            name="start"
	        />
	    </div>
	    <div class="col-sm">
	        <sup class="float-start">end</sup>
	        <input
	        	required
	            class="form-control my-2"
	            type="date"
	            name="end"
	        />
	    </div>
	</div>

	<div class="card-footer">
	<input type="submit" value="submit" class="btn btn-sm btn-outline-primary mt-2">
	</div>

</form>
	  
{{ end }}