

.collection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    height: 100%;
    padding: 1em;
}

.collection figure{
    height: 12em;
}
figure img{
    width: auto;
    height: 100%;
}

.flex_cont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: flex-start;
}
.flex_start{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch;
}
.base_main{
    min-height: 80vh;
}
.li_comment{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
}

html,
body{
    overflow-x: hidden;
}
li{
    list-style-type: none;
}

a{
    text-decoration: none;
}