{{ template "./tpl/base.html" }}
{{ define "title" }} all collection {{ end }}

{{ block "content" . }}

<h1 class="container lead my-3">all collection</h1>
	
{{ range .List }}
<div class="card">
    <div class="card-body">
    <div class="flex_start">
    <ul class="list-group list-group-flush">
    	<li class="list-group-item">
    		<span class="badge text-bg-primary">completed</span> {{ .Completed }}
    	</li>
    	<li class="list-group-item">
    	<span class="badge text-bg-light">id</span>{{ .Id }}
    	<span class="badge text-bg-light">collection</span>{{ .Collection_id }}
    	<span class="badge text-bg-light">owner</span>{{ .Owner }}
    	</li>
    </ul>
    <ul class="list-group list-group-flush">
    	<li class="list-group-item">
    	<span class="badge text-bg-light">created</span>
    	<time>
    	{{ .Created_at.Format "2006-01-02 15:04:05" }}
    	</time>
    	</li>
    	<li class="list-group-item">
    	{{ if ne .Updated_at nil }}
    	<sup>updated</sup> 
    	<time>
    	{{ .Updated_at.Format "2006-01-02 15:04:05" }}
    	</time>
    	{{ else }}
    		there are no updates
    	{{ end }}
    	</li>
    </ul>
    </div>
    </div>
</div>

<h2 class="lead my-2"><small>create slider</small></h2>

<form class="card" method="POST">
    <h5 class="m-2 border-bottom"><sup>list img</sup></h5>
	<div class="collection">
		{{ range .Pfile }}
        <div class="card-body">
        <div class="float-start">
        <input type="hidden" name="img" value="0"><input type="checkbox" onclick="this.previousSibling.value=1-this.previousSibling.value">
        <input type="hidden" name="path" value="{{ . }}" />
        <sup>append</sup>
        </div>
        </div>
		<figure class="collection">
			<img class="pfile" src="{{ . }}">
			<figcaption></figcaption>
		</figure>
		{{ end }}
	</div>
    <h5 class="m-2 border-bottom"><sup>create slider title description</sup></h5>
	<div class="card-body">
	<sup>title</sup>
	<input required type="text" name="title" class="form-control">
	<sup>description</sup>
	<input required type="text" name="description" class="form-control">
	<input type="hidden" name="collection_id" value="{{ .Collection_id }}" />
	</div>

    <input type="hidden" name="to_collection" value="{{ .Id }}">

    {{ if ne $.Art nil }}
    <div class="card-footer">
        <select
            name="to_art"
            class="form-control shadow-sm">
            <option value="">art select</option>
            {{ range $.Art }}
                <option value="{{ .Id }}">
                    id {{ .Id }}
                </option>
            {{ end }}
        </select>
    </div>
    {{ end }}
    {{ if ne $.Sch nil }}
    <div class="card-footer">
        <select
            name="to_sch"
            class="form-control shadow-sm">
            <option value="">sch select</option>
            {{ range $.Sch }}
                <option value="{{ .Id }}">
                    id {{ .Id }}
                </option>
            {{ end }}
        </select>
    </div>
    {{ end }}
    {{ if ne $.PrvD nil }}
    <div class="card-footer">
        <select
            name="to_prv_d"
            class="form-control shadow-sm">
            <option value="">prv d select</option>
            {{ range $.PrvD }}
                <option value="{{ .Id }}">
                    id {{ .Id }}
                </option>
            {{ end }}
        </select>
    </div>
    {{ end }}
    {{ if ne $.PrvH nil }}
    <div class="card-footer">
        <select
            name="to_prv_h"
            class="form-control shadow-sm">
            <option value="">prv h select</option>
            {{ range $.PrvH }}
                <option value="{{ .Id }}">
                    id {{ .Id }}
                </option>
            {{ end }}
        </select>
    </div>
    {{ end }}

    <div id="addt" class="card-body">
    </div>
    <div class="card-footer action-buttons">
    <button class="btn btn-sm btn-outline-primary" onclick="addFnT(); return false;">
        title - add input
    </button>
    </div>
    <div id="addd" class="card-body">
    </div>
    <div class="card-footer action-buttons">
    <button class="btn btn-sm btn-outline-primary" onclick="addFnD(); return false;">
        description - add input
    </button>
    </div>

	<div class="card-footer action-buttons">
		<p>select a photo from the collection and create a slider</p>
	<input type="submit" value="submit" class="btn btn-sm btn-outline-primary mt-2">
	</div>
</form>

<div class="card my-2">
    <div class="card-footer">
    <a class="btn btn-outline-danger btn-sm" href="/delete-collection?id={{ .Id }}" role="button">
        <i class="bi bi-trash3"></i> &raquo;
    </a>
    </div>
</div>

<hr>
{{ end }}
	  
<script>
function addFnT() {
    const divEle = document.getElementById("addt");
    const wrapper = document.createElement("div");
    const iFeild = document.createElement("input");
    iFeild.setAttribute("type", "text");
    iFeild.setAttribute("name", "lt_t");
    iFeild.setAttribute("placeholder", "Enter value");
    iFeild.classList.add("form-control");
    iFeild.classList.add("mt-2");
    wrapper.appendChild(iFeild);
    divEle.appendChild(wrapper);
}
function addFnD() {
    const divEle = document.getElementById("addd");
    const wrapper = document.createElement("div");
    const iFeild = document.createElement("input");
    iFeild.setAttribute("type", "text");
    iFeild.setAttribute("name", "lt_d");
    iFeild.setAttribute("placeholder", "Enter value");
    iFeild.classList.add("form-control");
    iFeild.classList.add("mt-2");
    wrapper.appendChild(iFeild);
    divEle.appendChild(wrapper);
}
</script>
	  
{{ end }}