{{ template "./tpl/base.html" }}
{{ define "title" }} update slider text {{ end }}

{{ block "content" . }}

<h1 class="lead my-3">update slider text</h1>

<div class="card">

<div class="card-body">
<div class="flex_start">
    <ul class="list-group list-group-flush">
    	<li class="list-group-item">
    		<span class="badge text-bg-primary">completed</span> {{ .I.Completed }}
    	</li>
    	<li class="list-group-item">
    	<span class="badge text-bg-light">id</span>{{ .I.Id }}
        <span class="badge text-bg-light">owner</span>{{ .I.Owner }}
    	<span class="badge text-bg-light">collection</span>{{ .I.Collection_id }}
    	</li>
    </ul>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <span class="badge text-bg-light">title</span>{{ .I.Title }}
        </li>
        <li class="list-group-item">
            <span class="badge text-bg-light">description</span>{{ .I.Description }}
        </li>
        </li>
    </ul>
    <ul class="list-group list-group-flush">
        {{ if ne .I.Lt_t nil }}
        {{ range .I.Lt_t }}
        <li class="list-group-item">
            <span class="badge text-bg-light">+ title +</span>
            {{ . }}
        </li>
        {{ end }}
        {{ end }}
        {{ if ne .I.Lt_d nil }}
        {{ range .I.Lt_d }}
        <li class="list-group-item">
            <span class="badge text-bg-light">+ description +</span>
            {{ . }}
        </li>
        {{ end }}
        {{ end }}
    </ul>
    <ul class="list-group list-group-flush">
        {{ if ne .I.To_art nil }}
        <li class="list-group-item">
            <sup class="badge text-bg-light">to art</sup>
            id {{ .I.To_art }}
        </li>
        {{ end }}
        {{ if ne .I.To_sch nil }}
        <li class="list-group-item">
            <sup class="badge text-bg-light">to sch</sup>
            id {{ .I.To_sch }}
        </li>
        {{ end }}
        {{ if ne .I.To_prv_d nil }}
        <li class="list-group-item">
            <sup class="badge text-bg-light">to prv_d</sup>
            id {{ .I.To_prv_d }}
        </li>
        {{ end }}
        {{ if ne .I.To_prv_h nil }}
        <li class="list-group-item">
            <sup class="badge text-bg-light">to prv_h</sup>
            id {{ .I.To_prv_h }}
        </li>
        {{ end }}
    </ul>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
        <span class="badge text-bg-light">created</span>
        <time>
        {{ .I.Created_at.Format "2006-01-02 15:04:05" }}
        </time>
        </li>
        <li class="list-group-item">
        {{ if ne .I.Updated_at nil }}
        <sup>updated</sup> 
        <time>
        {{ .I.Updated_at.Format "2006-01-02 15:04:05" }}
        </time>
        {{ else }}
            there are no updates
        {{ end }}
        </li>
    </ul>
</div>
</div>

<form class="card" method="POST">

    <div class="m-3">
        <sup class="float-start mb-2">completed</sup>
        <input
            type="checkbox"
            name="completed"
        />
    </div>

    <div class="card-body">
    <sup>title</sup>
    <input type="text" name="title" class="form-control" value="{{ .I.Title }}">
    <sup>description</sup>
    <input type="text" name="description" class="form-control" value="{{ .I.Description }}">
    </div>

    <div class="card-body">
    <ul class="list-group list-group-flush">
        {{ if ne .I.Lt_t nil }}
        {{ range .I.Lt_t }}
        <li class="list-group-item">
            <span class="badge text-bg-light">+ title +</span>
            <input type="text" name="lt_t" class="form-control" value="{{ . }}">
            <p>
            <input type="hidden" name="del_t" value="0"><input type="checkbox" onclick="this.previousSibling.value=1-this.previousSibling.value">
            <sup>del</sup>
            </p>
        </li>
        {{ end }}
        {{ end }}
        {{ if ne .I.Lt_d nil }}
        {{ range .I.Lt_d }}
        <li class="list-group-item">
            <span class="badge text-bg-light">+ description +</span>
            <input type="text" name="lt_d" class="form-control" value="{{ . }}">
            <p>
            <input type="hidden" name="del_d" value="0"><input type="checkbox" onclick="this.previousSibling.value=1-this.previousSibling.value">
            <sup>del</sup>
            </p>
        </li>
        {{ end }}
        {{ end }}
    </ul>
    </div>


    <div id="addt" class="card-body">
        <sup>+ title</sup>
    </div>
    <div class="card-footer">
    <button class="btn btn-sm btn-outline-primary" onclick="addFnT(); return false;">
        title - add input
    </button>
    </div>

    <div id="addd" class="card-body">
        <sup>+ description</sup>
    </div>
    <div class="card-footer">
    <button class="btn btn-sm btn-outline-primary" onclick="addFnD(); return false;">
        description - add input
    </button>
    </div>

    <div class="card-footer">
    <input type="submit" value="submit" class="btn btn-sm btn-outline-primary mt-2">
    </div>
</form>


<script>
function addFnT() {
    const divEle = document.getElementById("addt");
    const wrapper = document.createElement("div");
    const iFeild = document.createElement("input");
    iFeild.setAttribute("type", "text");
    iFeild.setAttribute("name", "lt_t");
    iFeild.setAttribute("placeholder", "Enter value");
    iFeild.classList.add("form-control");
    iFeild.classList.add("mt-2");
    wrapper.appendChild(iFeild);
    divEle.appendChild(wrapper);
}
function addFnD() {
    const divEle = document.getElementById("addd");
    const wrapper = document.createElement("div");
    const iFeild = document.createElement("input");
    iFeild.setAttribute("type", "text");
    iFeild.setAttribute("name", "lt_d");
    iFeild.setAttribute("placeholder", "Enter value");
    iFeild.classList.add("form-control");
    iFeild.classList.add("mt-2");
    wrapper.appendChild(iFeild);
    divEle.appendChild(wrapper);
}
</script>
	  
{{ end }}