{{ template "./tpl/base.html" }}
{{ define "title" }} all hours provision {{ end }}

{{ block "content" . }}

<h1 class="container lead my-3">all hours provision..</h1>
	
{{ range . }}

<div class="card">

<div class="card-body">
<ul class="list-group list-group-flush">
	<li class="list-group-item">
		<span class="badge text-bg-primary">completed</span> {{ .Completed }}
	</li>
	<li class="list-group-item">
	<span class="badge text-bg-light">id</span>{{ .Id }}
	<span class="badge text-bg-light">owner</span>{{ .Owner }}
	<span class="badge text-bg-light">start h</span>{{ .St_hour.Format "2006-01-02 15:04:05" }}
	<span class="badge text-bg-light">end h</span>{{ .En_hour.Format "2006-01-02 15:04:05" }}
	</li>
</ul>
<ul class="list-group list-group-flush">

	{{ if ne .S_hours nil }}
	<li class="list-group-item">
		<span class="badge text-bg-light">list start h</span>
		{{ range .S_hours }}
		<span>{{ . }}</span>
		{{ end }}
	</li>
	<li class="list-group-item">
		<span class="badge text-bg-light">list end h</span>
		{{ range .E_hours }}
		<span>{{ . }}</span>
		{{ end }}
	</li>
	{{ end }}

	{{ if ne .Hours nil }}
	<li class="list-group-item">
		<span class="badge text-bg-light">list hours</span>
		{{ range .Hours }}
		<span>{{ . }}</span>
		{{ end }}
	</li>
	{{ end }}
	
</ul>
<ul class="list-group list-group-flush">

	<li class="list-group-item">
		<sup>title</sup> {{ .Title }}
	</li>
	
	<li class="list-group-item">
	<sup>created</sup>
	<time>
	{{ .Created_at.Format "2006-01-02 15:04:05" }}
	</time>
	</li>
	<li class="list-group-item">
	{{ if ne .Updated_at nil }}
	<sup>updated</sup> 
	<time>
	{{ .Updated_at.Format "2006-01-02 15:04:05" }}
	</time>
	{{ else }}
		there are no updates
	{{ end }}
	</li>
</ul>

</div>

<div class="card-footer">
<a class="btn btn-outline-primary btn-sm" href="/id-prv-hours?id={{ .Id }}" role="button">
	details
</a>
</div>

</div>

<hr>

{{ end }}

<script>
document.body.innerHTML = document.body.innerHTML.replaceAll("0001-01-01", "");
document.body.innerHTML = document.body.innerHTML.replaceAll(" BC", "");
</script>
	  
{{ end }}